extends ../layout

block content
    h1=title

    table.table.table-hover
        thead
            tr
                th Reader
                th Handler
                th Device
                th Time
                th#weird Photo Path
                th Success
        tbody
            - if (logs.length) {
            each log in logs
                tr
                    td=log.reader
                    td=log.handler
                    td=log.deviceId
                    td=log.requestTime
                    td
                        a(class='fancybox', href='images/'+log.photoFilePath)
                            img(id='fancyImage', src='images/'+log.photoFilePath)
                    td=log.success
            - }
