extends ../layout

block content
    h1=title

    table.table.table-hover
        thead
            tr
                th.col-md-1.text-center.vert-align Reader
                th.col-md-1.text-center.vert-align Handler
                th.col-md-1.text-center.vert-align Device
                th.col-md-4.text-center.vert-align Time
                th.col-md-4.text-center.vert-align Photo Path
                th.col-md-1.text-center.vert-align Success
        tbody
            - if (logs.length) {
            each log in logs
                tr
                    td.col-md-1.text-center.vert-align=log.reader
                    td.col-md-1.text-center.vert-align=log.handler
                    td.col-md-1.text-center.vert-align=log.deviceId
                    td.col-md-4.text-center.vert-align=log.requestTime
                    td.col-md-4.text-center.vert-align
                        a(class='fancybox', href='images/'+log.photoFilePath)
                            img(id='fancyImage', src='images/'+log.photoFilePath)
                    td.col-md-1.text-center.vert-align=log.success
            - }
