extends ../layout

block content
    h1=title

    table.table.table-hover
        thead
            tr
                th.col-md-1.text-center.vert-align Reader
                th.col-md-1.text-center.vert-align Handler
                th.col-md-1.text-center.vert-align Device
                th.col-md-4.text-center.vert-align Time
                th.col-md-4.text-center.vert-align Photo
                th.col-md-1.text-center.vert-align Status
        tbody
            - if (logs.length) {
            each log in logs
                tr
                    td.col-md-1.text-center.vert-align=log.reader
                    td.col-md-1.text-center.vert-align=log.handler
                    td.col-md-1.text-center.vert-align=log.deviceId
                    td.col-md-4.text-center.vert-align=log.requestTime
                    td.col-md-4.text-center.vert-align
                        a(class='fancybox', href='images/'+log.photoFilePath)
                            img(id='fancyImage', src='images/'+log.photoFilePath)
                    if (log.success==1)
                        td.col-md-1.text-center.vert-align Granted
                    else if (log.success==2)
                        td.col-md-1.text-center.vert-align Deny
                    else
                        td.col-md-1.text-center.vert-align Recognition

            - }
    div(class='modal fade' id='myModal' role='dialog')
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button(type='button' class='close' data-dismiss='modal')
                    h4.modal-title Modal Header
                div.modal-body
                    p Some text in the modal.
                div.modal-footer
                    button(type='button' class='btn btn-default' data-dismiss='modal')
